.bg-special-blue {
    background-image: linear-gradient(to bottom right, #284461, #27415d);
}

.bg-special-blue-light {
    background-image: linear-gradient(to bottom right, #3b4e61, #3c5065);
}

.bg-special-copper {
    background: #745033 -webkit-gradient(linear, left top, right bottom, from(#745033), to(#724f32)) no-repeat;

}

.bg-dark-copper {
    /*background-color: #6c4a31;*/
    background: #755331 -webkit-gradient(linear, left top, right bottom, from(#755331), to(#6c4a31)) no-repeat;
}

.text-decoration-underline-dotted {
    text-decoration-style: dotted;
}

/**
    Bootstrap btn 
 */
/**===== UDEMY =====*/
.btn-udemy {
    color: #fff;
    background-color: #5624d0;
    border-color: #5624d0;
}

.btn-udemy:hover {
    color: #fff;
    background-color: #6b2cff;
    border-color: #5624d0;
}

.btn-udemy:focus, .btn-udemy.focus {
    color: #fff;
    background-color: #5624d0;
    border-color: #5624d0;
    box-shadow: 0 0 0 0.2rem rgb(86, 48, 175);
}

.btn-udemy.disabled, .btn-udemy:disabled {
    color: #fff;
    background-color: #5624d0;
    border-color: #5624d0;
}

.btn-udemy:not(:disabled):not(.disabled):active, .btn-udemy:not(:disabled):not(.disabled).active,
.show > .btn-udemy.dropdown-toggle {
    color: #fff;
    background-color: #5624d0;
    border-color: #4f24ba;
}

.btn-udemy:not(:disabled):not(.disabled):active:focus, .btn-udemy:not(:disabled):not(.disabled).active:focus,
.show > .btn-udemy.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(90, 50, 186);
}

