.hover-info {
	font-style : italic ;
}

.hover-info .hover-info-text {
	font-style: normal !important;
	visibility: hidden;
	/*
	background-color: #17a2b8;
	color: #fff;
	*/
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
}

.hover-info:hover .hover-info-text {
	visibility: visible;
}

.alinea {
	margin-right: 2rem;
}

.btn-text-warp {
	white-space: normal;
}

.technology-grade {
	/*display: none;*/
}
